"""
{{ name }} controller module
"""

from fastapi import APIRouter

router = APIRouter()

@router.get("/{{ name | lower }}")
def get_{{ name | lower }}():
    return {"message": "Hello from {{ name }} controller"}
