from functools import lru_cache
from storm.core.settings import AppSettings


class Settings(AppSettings):
    app_name: str = "{{ project_name }}"


@lru_cache()
def get_settings():
    return Settings()
